fastapi[standard]>=0.113.0,<0.114.0
PyPDF2
uvicorn
pydantic>=2.7.0,<3.0.0

motor
pydantic[email]

# imapclient
# email 
# requests


google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests
